* {
  margin: 0;
  padding: 0;
}
body {
  font-family: MikadoRegular;
  font-size: 14px;
  letter-spacing: 0.7px;
}

a:link,
a:visited {
  text-decoration: none;
  background-color: rgba(96, 95, 163, 0.65);
  color: #000;
}

a:active {
  text-decoration: line-through;
}

a:hover {
  color: #282828;
  text-decoration: line-through;
}

.menu {
  background: transparent;
  bottom: 0;
  text-align: left;
  left: 20px;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0 0 15px;
}

.menu ul li.section-title {
  color: #ffffff;
  font-family: MikadoRegular;
  font-size: 80%;
  background-color: #000000;
  letter-spacing: 0.6em;
  padding: 0 15px 0 15px;
  width: 200px;
  margin: 2em 0 2em 0;
}

.menu ul li a {
  padding: 0 15px 0 15px;
}

.menu ul.special {
  display: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#content {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#contenu {
  position: relative;
  z-index: 2;
}

.p8 {
  font-size: 12px;
  color: #6b6b6b;
}

.p9 {
  font-size: 12px;
  color: #000;
}

#content article {
  max-width: 500px !important;
  text-align: justify;
  margin-top: 5em;
}

a.purple {
  background-color:#9778B9;
}

#arabic {
  margin-left: 18rem;
  font-weight: bold;
}

#artstation {
  margin-left: 28rem;
}

#email {
  margin-left: 17rem;
}

#github {
  margin-left: -1rem;
}

#resume {
  margin-left: 15rem;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


@font-face {
  font-family: MikadoRegular;
  src: url('MikadoRegular.otf');
}

::selection {
  background: rgba(96, 95, 163, 0.65); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(96, 95, 163, 0.65); /* Gecko Browsers */
}

/* #### Mobile Phones Portrait #### */

/* @media screen and (max-device-width: 480px) and (orientation: portrait) {
  article {
    font-size: 25px;
    margin-top: 3rem;
    font-weight: normal;
    line-height: 40px;
    padding-right: 0.6rem;
    max-width: 85%;
  }
  
} */
/* #### Mobile Phones Landscape ####

@media screen and (max-device-width: 1000px) and (orientation: landscape) {
  article {
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
    padding-right: 0.6rem;
    max-width: 45%;
  }
  #content {
    margin-top: 20rem;
    margin-bottom: 20rem;
  }
} */


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/* The "responsive" class is added to the menu with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-device-width: 600px) {

  article {
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
    padding-right: 0.6rem;
    max-width: 85%;
  }

  .p8, .p9 {
    font-size: 1.6em;
  }

  .menu ul {
    display: none;
  }

  /* .menu ul.special {
    display: block;
    position:fixed;
    top: 0;
    float: left;
    width: max-content;

  } */

  /* .menu.responsive {
    position: relative;
  }

  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive li {
    float: none;
    display: block;
    text-align: left;
  } */
}
